@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;

  --ff: 'Bangers';
}

.app-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header > h1 {
  margin: 0;
  font-family: var(--ff);
  font-size: 6rem;
  background-image: url(../public/header-bg.jpg);
  background-position: center;
  background-clip: text;
  color: transparent;
}

.info-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  border-radius: 20px;
  cursor: pointer;

}

.image-div{
  padding: 3rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
}

img {
  border-radius: 15px;
  box-shadow: 4px 4px 4px #888888;
}

img:hover{
  cursor: pointer;
  transform: scale(1.2);
}